<html>
    
    <head>
        <!-- Index UI Chnaged-->
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static  'css/atom-one-dark.css' %}">
        <link rel="stylesheet" href="{% static 'css/theme.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800">
        <link rel="icon" href="{% static 'images/text.svg' %}" type="image/png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="../static/js/ajax.js"></script>
        <script src="../static/js/jQuery.3.3.1.js"></script>
        <script src="../static/js/bootstrap.bundle.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/in-view-min.js"></script>
        <script src="../static/js/higlight.js"></script>
        <script src="../static/js/theme.min.js"></script>
        <script src="../static/js/gtag.js"></script>
        <style>
                /* .con > .horscr {
                    overflow-x: auto;
                    white-space: nowrap;
                } */
                .con > .horscr > .qw{
                    display: inline-block;
                    float: none;
                }
            </style>
        <style>
             ::-webkit-scrollbar {
                width: 5px;
                height:5px;
            }

            ::-webkit-scrollbar-track {
                background: green; 
            }

            ::-webkit-scrollbar-thumb {
                border: solid 0px;
                border-radius: 5px;
                background: whitesmoke; 
            }

            ::-webkit-scrollbar-thumb:hover {
                background: #fff; 
            }
            .droppro {
                display : none;
            }
        </style>
        <style>
            .dropbtn {
              background-color:transparent;
              color: white;
              padding: 16px;
              font-size: 16px;
              border: none;
            }
            
            .dropdown {
              position: relative;
              display: inline-block;
            }
            
            .dropdown-content {
                margin-top: 60px;
              display: none;
              position: absolute;
              background-color: #f1f1f1;
              min-width: 160px;
              box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
              z-index: 1;
              border-radius: 10px;
            }
            
            .dropdown-content a {
              color: #28a745;
              padding: 12px 16px;
              text-decoration: none;
              display: block;
              border-radius: 10px;
            }
            
            .dropdown-content a:hover {background-color: #ddd;}
            
            .dropdown:hover .dropdown-content {display: block;}
            
            .dropdown:hover .dropbtn {
                
            }


            #floating-button{
              width: 55px;
              height: 55px;
              border-radius: 50%;
              background: #093a23;
              position: fixed;
              bottom: 30px;
              right: 30px;
              cursor: pointer;
            }


            @-webkit-keyframes bounce {
                0% {
            transform: scale(1,1) translate(0px, 0px);
          }

          30%{
            transform: scale(1,0.8) translate(0px, 10px);
          }

          75%{
            transform: scale(1,1.1) translate(0px, -25px);
          }

         100% {
            transform: scale(1,1) translate(0px, 0px);
          }
        }

        .bounce {
              text-align:center;
              margin:0 auto;
              margin-top:100px;
              height:20px;
              width:150px;
              padding:20px;
              background:tomato;
             -webkit-animation: bounce 1.0s infinite;
        }




            </style>

    </head>
    
    <body>
        
        <header class="header-transparent" id="header-main">
        <!-- Topbar -->
        <div id="navbar-top-main" class="navbar-top  navbar-dark bg-dark border-bottom">
            <div class="container">
                <div class="navbar-nav align-items-center">
                    <a class="navbar-brand mr-lg-5" href="{% url 'home' %}">
                    <img alt="Image placeholder" src="../static/images/treetor.png" style="height: 60px;">
                </a>
                    
                    <div class="ml-auto">
                        <ul class="nav">
                            <nav class="navbar navbar-main navbar-expand-lg navbar-sticky navbar-transparent navbar-dark bg-dark" id="navbar-main">

                                <div class="container">

                                <!-- <div class="dropdown">  -->
                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>
                                    <!-- <div class="dropdown-content">
                                        {% if xyz %}
                                            <a href={{profile}}>Profile</a>
                                            {% if dashboard %}
                                                <a href={{dashboard}}>Dashboard</a>
                                            {% endif %}

                                            <a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i>Logout</a>
                                        {% endif %}
                                        {% if yuo %}
                                            <a href="{% url 'signin' %}">Log In</a>
                                            <a href="{% url 'signup' %}">Register</a>
                                        {% endif %}
                                    </div>
                                </div> -->

                                <div class="collapse navbar-collapse" id="navbar-main-collapse">

                                    <ul class="navbar-nav align-items-lg-center ml-lg-auto">
                                        <li class="nav-item mr-0 prsec">
                                            <!-- <span class="btn-icon d-none d-lg-inline-flex" style="float:right"><i class="fas fa-user-circle fa-2x" style="color:white;"></i><br></span> -->

                                            
                                                <div class="dropdown d-lg-inline-flex">
                                                    <button class="dropbtn"><i class="fas fa-user-circle fa-2x d-none d-lg-inline-flex"></i></button>
                                                    <div class="dropdown-content">

                                                        {% if xyz %}
                                                            <a href={{profile}}>Profile</a>
                                                            {% if dashboard %}
                                                                <a href={{dashboard}}>Dashboard</a>
                                                            {% endif %}

                                                            <a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i>Logout</a>
                                                        {% endif %}
                                                        {% if yuo %}
                                                          <a href="{% url 'signin' %}">Log In</a>
                                                          <a href="{% url 'signup' %}">Register</a>
                                                        {% endif %}
                                                    </div>
                                                  </div>
                                        </li>
                                        &nbsp;&nbsp;
                                        <li class="nav-item mr-1">
                                        {% if xyz %}
                                            <a href="{% url 'student_profile' %}" class="nav-link d-lg-none">Profile</a>
                                            <a href="{% url 'logout' %}" class="nav-link d-lg-none"><i class="fa fa-sign-out"></i>Logout</a>
                                        {% endif %}
                                        {% if yuo %}
                                          <a href="{% url 'signin' %}" class="nav-link d-lg-none">Log In</a>
                                          <a href="{% url 'signup' %}" class="nav-link d-lg-none">Register</a>
                                        {% endif %}

                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </nav>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <!-- Main navbar -->

    </header>

        
            <main>

                <section class="section-rotate">
                    <div class="section-inner bg-gradient-primary"></div>
                    <!--Illustation -->
                    <div class="pt-5 position-absolute middle right-0 col-lg-7 col-xl-7 d-none d-lg-block">
                        <img alt="" src="./assets/img/svg/work-chat.svg" class="img-fluid">
                    </div>
                    <!-- SVG shapes background -->
                    <div class="bg-absolute-cover bg-size--contain d-flex align-items-center">
                        <figure class="w-100">

                            <svg preserveAspectRatio="none" x="0px" y="0px" viewBox="0 0 1506.3 578.7" xmlns="http://www.w3.org/2000/svg">
                                <path class="shape-fill-purple" d="M 147.269 295.566 C 147.914 293.9 149.399 292.705 151.164 292.431 L 167.694 289.863 C 169.459 289.588 171.236 290.277 172.356 291.668 L 182.845 304.699 C 183.965 306.091 184.258 307.974 183.613 309.64 L 177.572 325.239 C 176.927 326.905 175.442 328.1 173.677 328.375 L 157.147 330.943 C 155.382 331.217 153.605 330.529 152.485 329.137 L 141.996 316.106 C 140.876 314.714 140.583 312.831 141.228 311.165 L 147.269 295.566 Z"></path>
                                <path class="shape-fill-green" d="M 92.927 474.881 C 93.309 473.896 94.187 473.19 95.23 473.028 L 105.002 471.51 C 106.045 471.347 107.096 471.754 107.758 472.577 L 113.959 480.28 C 114.621 481.103 114.794 482.216 114.413 483.201 L 110.841 492.423 C 110.46 493.408 109.582 494.114 108.539 494.277 L 98.767 495.795 C 97.723 495.957 96.673 495.55 96.011 494.727 L 89.81 487.024 C 89.148 486.201 88.975 485.088 89.356 484.103 L 92.927 474.881 Z"></path>
                                <path class="shape-fill-teal" d="M 34.176 36.897 C 34.821 35.231 36.306 34.036 38.071 33.762 L 54.601 31.194 C 56.366 30.919 58.143 31.608 59.263 32.999 L 69.752 46.03 C 70.872 47.422 71.165 49.305 70.52 50.971 L 64.479 66.57 C 63.834 68.236 62.349 69.431 60.584 69.706 L 44.054 72.274 C 42.289 72.548 40.512 71.86 39.392 70.468 L 28.903 57.437 C 27.783 56.045 27.49 54.162 28.135 52.496 L 34.176 36.897 Z"></path>
                                <path class="shape-fill-blue" d="M 975.636 9.762 C 976.101 8.561 977.171 7.7 978.443 7.502 L 990.354 5.652 C 991.626 5.454 992.907 5.95 993.714 6.953 L 1001.272 16.343 C 1002.079 17.346 1002.29 18.703 1001.826 19.903 L 997.472 31.144 C 997.008 32.344 995.938 33.205 994.666 33.403 L 982.754 35.254 C 981.483 35.451 980.202 34.956 979.395 33.953 L 971.837 24.563 C 971.03 23.559 970.818 22.203 971.283 21.002 L 975.636 9.762 Z"></path>
                                <path class="shape-fill-gray-dark" d="M 1417.759 409.863 C 1418.404 408.197 1419.889 407.002 1421.654 406.728 L 1438.184 404.16 C 1439.949 403.885 1441.726 404.574 1442.846 405.965 L 1453.335 418.996 C 1454.455 420.388 1454.748 422.271 1454.103 423.937 L 1448.062 439.536 C 1447.417 441.202 1445.932 442.397 1444.167 442.672 L 1427.637 445.24 C 1425.872 445.514 1424.095 444.826 1422.975 443.434 L 1412.486 430.403 C 1411.366 429.011 1411.073 427.128 1411.718 425.462 L 1417.759 409.863 Z"></path>
                                <path class="shape-fill-orange" d="M 1313.903 202.809 C 1314.266 201.873 1315.1 201.201 1316.092 201.047 L 1325.381 199.604 C 1326.373 199.449 1327.372 199.837 1328.001 200.618 L 1333.895 207.941 C 1334.525 208.723 1334.689 209.782 1334.327 210.718 L 1330.932 219.484 C 1330.57 220.42 1329.735 221.092 1328.743 221.246 L 1319.454 222.689 C 1318.462 222.843 1317.464 222.457 1316.834 221.674 L 1310.94 214.351 C 1310.31 213.569 1310.146 212.511 1310.508 211.575 L 1313.903 202.809 Z"></path>
                                <path class="shape-fill-red" d="M 1084.395 506.137 C 1084.908 504.812 1086.09 503.861 1087.494 503.643 L 1100.645 501.6 C 1102.049 501.381 1103.463 501.929 1104.354 503.036 L 1112.699 513.403 C 1113.59 514.51 1113.823 516.009 1113.31 517.334 L 1108.504 529.744 C 1107.99 531.07 1106.809 532.02 1105.405 532.239 L 1092.254 534.282 C 1090.85 534.5 1089.436 533.953 1088.545 532.845 L 1080.2 522.478 C 1079.309 521.371 1079.076 519.873 1079.589 518.547 L 1084.395 506.137 Z"></path>
                            </svg>

<div id="abcd"></div>
                        </figure>
                    </div>
                    <!-- Hero container -->
                    <div class="container pt-lg pb-xl-md position-relative zindex-100">
                        <div class="row">
                            <div class="col-lg-9 text-center text-lg-left">

                                <div class="">
                                    <h2 class="text-white my-4">
                                <span class="display-4 font-weight-light" style="font-size:1em">Find Your Perfect Subject Mentor!</span>
                                <span class="d-block" style="font-size:.5em">Teach. Track. Triumph.</span>
                            </h2>
                                    <p class="lead text-white"style="font-size:.8em">A unique solution for a flexible and easy search for a mentor. A small step towards building the future of your dreams.</p>



                                    <form action="{% url 'search' %}" >
                                      <div class="form-row">


                                          <div class="col-sm-12 col-md-7" style="margin-top:2%">
                                          <input type="text" name="search" class="form-control" placeholder="Search for Tutors, Tutions and Schools.">
                                        </div>
                                        <div class="col-md-2 col-sm-12" style="margin-top:2%;width:100% important!">
                                          <button type="submit" class="btn btn-dark mb-2" style="width:100%">Search</button>
                                        </div>
                                      </div>
                                    </form>
                                    <style>
                                        .tongue-rot{
                                            -ms-transform: rotate(360deg); /* IE 9 */
                                          -webkit-transform: rotate(360deg); /* Safari */
                                          transform: rotate(360deg);
                                        }
                                    </style>

                                    <div class="mt-5">
        <!--
                                        <a href="#sct_page_examples" class="btn btn-dark btn-circle btn-translate--hover btn-icon mr-sm-4 scroll-me">
                                            <span class="btn-inner--text">Page Examples</span>
                                            <span class="btn-inner--icon"><i class="fas fa-angle-right"></i></span>
                                        </a>
        -->
                                        <a href="#sct_features" class="btn btn-outline-white btn-circle btn-translate--hover btn-icon d-none d-xl-inline-block scroll-me">
                                            <span class="btn-inner--icon"><i class="fas fa-file-alt"></i></span>
                                            <span class="btn-inner--text">Explore Features</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
                  <div style="margin-top:0%;">
<!--                      <span style="width:500px">Just for You</span>-->

                  <div id="floating-button" class="bounce" data-toggle="tooltip" data-placement="left" data-original-title="Create" >
                       <i class="fas fa-chevron-down" style="color:white"></i><br/><br/>
                      <span style="float:right;width:90px;margin-right:-35px;color:white">Just for You</span>

                  </div>
                  </div>
                    <script>
                        $("#floating-button").click(function() {
                            $('html, body').animate({
                            scrollTop: $("#abcd").offset().top
                        }, 1000);

                        });
                    </script>
                      <section class="slice bg-gradient-secondary overflow-hidden">
                    <div class="bg-absolute-cover bg-size--contain d-flex align-items-center">
                        <figure class="w-100">

                            <svg preserveAspectRatio="none" x="0px" y="0px" viewBox="0 0 1506.3 578.7" xmlns="http://www.w3.org/2000/svg">
                                <path class="shape-fill-purple" d="M 147.269 295.566 C 147.914 293.9 149.399 292.705 151.164 292.431 L 167.694 289.863 C 169.459 289.588 171.236 290.277 172.356 291.668 L 182.845 304.699 C 183.965 306.091 184.258 307.974 183.613 309.64 L 177.572 325.239 C 176.927 326.905 175.442 328.1 173.677 328.375 L 157.147 330.943 C 155.382 331.217 153.605 330.529 152.485 329.137 L 141.996 316.106 C 140.876 314.714 140.583 312.831 141.228 311.165 L 147.269 295.566 Z"></path>
                                <path class="shape-fill-green" d="M 92.927 474.881 C 93.309 473.896 94.187 473.19 95.23 473.028 L 105.002 471.51 C 106.045 471.347 107.096 471.754 107.758 472.577 L 113.959 480.28 C 114.621 481.103 114.794 482.216 114.413 483.201 L 110.841 492.423 C 110.46 493.408 109.582 494.114 108.539 494.277 L 98.767 495.795 C 97.723 495.957 96.673 495.55 96.011 494.727 L 89.81 487.024 C 89.148 486.201 88.975 485.088 89.356 484.103 L 92.927 474.881 Z"></path>
                                <path class="shape-fill-teal" d="M 34.176 36.897 C 34.821 35.231 36.306 34.036 38.071 33.762 L 54.601 31.194 C 56.366 30.919 58.143 31.608 59.263 32.999 L 69.752 46.03 C 70.872 47.422 71.165 49.305 70.52 50.971 L 64.479 66.57 C 63.834 68.236 62.349 69.431 60.584 69.706 L 44.054 72.274 C 42.289 72.548 40.512 71.86 39.392 70.468 L 28.903 57.437 C 27.783 56.045 27.49 54.162 28.135 52.496 L 34.176 36.897 Z"></path>
                                <path class="shape-fill-blue" d="M 975.636 9.762 C 976.101 8.561 977.171 7.7 978.443 7.502 L 990.354 5.652 C 991.626 5.454 992.907 5.95 993.714 6.953 L 1001.272 16.343 C 1002.079 17.346 1002.29 18.703 1001.826 19.903 L 997.472 31.144 C 997.008 32.344 995.938 33.205 994.666 33.403 L 982.754 35.254 C 981.483 35.451 980.202 34.956 979.395 33.953 L 971.837 24.563 C 971.03 23.559 970.818 22.203 971.283 21.002 L 975.636 9.762 Z"></path>
                                <path class="shape-fill-gray-dark" d="M 1417.759 409.863 C 1418.404 408.197 1419.889 407.002 1421.654 406.728 L 1438.184 404.16 C 1439.949 403.885 1441.726 404.574 1442.846 405.965 L 1453.335 418.996 C 1454.455 420.388 1454.748 422.271 1454.103 423.937 L 1448.062 439.536 C 1447.417 441.202 1445.932 442.397 1444.167 442.672 L 1427.637 445.24 C 1425.872 445.514 1424.095 444.826 1422.975 443.434 L 1412.486 430.403 C 1411.366 429.011 1411.073 427.128 1411.718 425.462 L 1417.759 409.863 Z"></path>
                                <path class="shape-fill-orange" d="M 1313.903 202.809 C 1314.266 201.873 1315.1 201.201 1316.092 201.047 L 1325.381 199.604 C 1326.373 199.449 1327.372 199.837 1328.001 200.618 L 1333.895 207.941 C 1334.525 208.723 1334.689 209.782 1334.327 210.718 L 1330.932 219.484 C 1330.57 220.42 1329.735 221.092 1328.743 221.246 L 1319.454 222.689 C 1318.462 222.843 1317.464 222.457 1316.834 221.674 L 1310.94 214.351 C 1310.31 213.569 1310.146 212.511 1310.508 211.575 L 1313.903 202.809 Z"></path>
                                <path class="shape-fill-red" d="M 1084.395 506.137 C 1084.908 504.812 1086.09 503.861 1087.494 503.643 L 1100.645 501.6 C 1102.049 501.381 1103.463 501.929 1104.354 503.036 L 1112.699 513.403 C 1113.59 514.51 1113.823 516.009 1113.31 517.334 L 1108.504 529.744 C 1107.99 531.07 1106.809 532.02 1105.405 532.239 L 1092.254 534.282 C 1090.85 534.5 1089.436 533.953 1088.545 532.845 L 1080.2 522.478 C 1079.309 521.371 1079.076 519.873 1079.589 518.547 L 1084.395 506.137 Z"></path>
                            </svg>


                        </figure>
                    </div>

                    <div class="container position-relative zindex-100 con" style="margin-top:0%">
                        <strong class="font-weight-700" style="font-size:2em">Recomended for You</strong>
<!--                            <h3 style="color: ghostwhite;text-shadow:1px 2px 1px green;margin-left: 10%;">Recomended for You</h3>-->
                            <div class="row text-center horscr" style="margin-bottom:1%;overflow-x: auto;white-space: nowrap;display: inline-block;width: 100%">

                                <!-- Repeat From here -->
                                    <div class="col-lg-4 col-md-3 col-sm-12 qw text-center" style="margin-bottom: 1%;">
                                                    <div style="width:80%;box-shadow: 1px 1px 10px green;border-radius: 5px" >
                                                        <center><img alt="treetor" src="https://firebasestorage.googleapis.com/v0/b/treetor-75b14.appspot.com/o/users%2Finstitutes%2Fdl72aTOMksVltNh2y95O8yD2SV92%2Fdl72aTOMksVltNh2y95O8yD2SV92?alt=media&token=114bba55-95e6-4ae2-abd8-353d672d00fe" class="img-saturate" style="border-radius: 5px;z-index: -1;width:100%;height:18%;text-align: center;align-content: center"><br/><br/>
                                                            <button style="float:left;margin-top:-45px;position: absolute;margin-left: -30%;color:white;background-color: #28a745;border:none;border-radius:5px"><b>4.5<i class="far fa-star" style="color: white"></i></b></button><br/>
                                                            <div style="width: 100%">
                                                            <strong style="text-align: center">The Physics Center</strong><br/>
                                                            <small>Sailashree Vihar Rd, Sailashree Vihar<br> Chandrasekharpur, Bhubaneswar<br> Odisha 751021</small><br/>
                                                            <strong>Course: </strong> B-tech<br/><br/>
                                                            <button type="submit" class="btn btn-dark">Free Class</button>
                                                            <button type="submit" class="btn btn-dark">Apply</button>
                                                            <br/><br/>
                                                            </div>
                                                        </center> 
                                                    </div>
                                            </div> 

                                            <!-- here -->

                                            <!-- extras -->
                                            <div class="col-lg-4 col-md-3 col-sm-12 qw text-center" style="margin-bottom: 1%;">
                                                    <div style="width:80%;box-shadow: 1px 1px 10px green;border-radius: 5px" >
                                                        <center><img alt="treetor" src="https://i.redd.it/1lw8ul3iq3211.jpg" class="img-saturate" style="border-radius: 5px;z-index: -1;width:100%;height:18%;text-align: center;align-content: center"><br/><br/>
                                                            <button style="float:left;margin-top:-45px;position: absolute;margin-left: -30%;color:white;background-color: #28a745;border:none;border-radius:5px"><b>4.5<i class="far fa-star" style="color: white"></i></b></button><br/>
                                                            <div style="width: 100%">
                                                            <strong style="text-align: center">Achievers of Modern Era</strong><br/>
                                                            <small>HIG-18/1 Housing Board Colony<br> CSPur BBSR - 751016</small><br/>
                                                            <strong>Course: </strong> B-tech<br/><br/>
                                                            <button type="submit" class="btn btn-dark">Free Class</button>
                                                            <button type="submit" class="btn btn-dark">Apply</button>
                                                            <br/><br/>
                                                            </div>
                                                        </center> 
                                                    </div>
                                            </div>
                                            <div class="col-lg-4 col-md-3 col-sm-12 qw text-center" style="margin-bottom: 1%;">
                                                    <div style="width:80%;box-shadow: 1px 1px 10px green;border-radius: 5px" >
                                                        <center><img alt="treetor" src="https://i.redd.it/1lw8ul3iq3211.jpg" class="img-saturate" style="border-radius: 5px;z-index: -1;width:100%;height:18%;text-align: center;align-content: center"><br/><br/>
                                                            <button style="float:left;margin-top:-45px;position: absolute;margin-left: -30%;color:white;background-color: #28a745;border:none;border-radius:5px"><b>4.5<i class="far fa-star" style="color: white"></i></b></button><br/>
                                                            <div style="width: 100%">
                                                            <strong style="text-align: center">Prism Animation College</strong><br/>
                                                            <small>Plot no: MIG(s),Pragati  Enclave <br>Niladari Vihar Road, C.S Pur, Bhubneswar</small><br/>
                                                            <strong>Course: </strong> B-tech<br/><br/>
                                                            <button type="submit" class="btn btn-dark">Free Class</button>
                                                            <button type="submit" class="btn btn-dark">Apply</button>
                                                            <br/><br/>
                                                            </div>
                                                        </center> 
                                                    </div>
                                            </div>

                                            </div>

                                            <!-- extra ends here -->
                                                          
                            </div>
                        <div class="mb-md text-center">
                            <span class="badge badge-lg badge-success badge-pill">Treetor</span>
                            <h3 class="mt-4">Gain knowledge with <strong class="font-weight-700">awesomeness</strong></h3>
                            <div class="fluid-paragraph text-center mt-4">
                                <p class="lead lh-180">We provide you a smater and a better way to fetch towards your kind of needs.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card shadow border-0 mb-4">
                                    <div class="card-body py-5">
                                        <div class="d-flex align-items-start">
                                            <div class="icon icon-shape icon-green rounded-circle">
                                                <i class="fas fa-chalkboard-teacher"></i>
                                            </div>
                                            <div class="icon-text pl-4">
                                                <h5 class="font-weight-bold">Created with the Latest Technologies</h5>
                                            </div>
                                        </div>
                                        <p class="mt-4">We use the latest technologies and tools in order to create a better code that not only works great, but it is easy easy to work with too.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card shadow border-0 mb-4">
                                    <div class="card-body py-5">
                                        <div class="d-flex align-items-start">
                                            <div class="icon icon-shape icon-orange rounded-circle">
                                                <i class="far fa-hand-pointer"></i>
                                            </div>
                                            <div class="icon-text pl-4">
                                                <h5 class="font-weight-bold">Built for you</h5>
                                            </div>
                                        </div>
                                        <p class="mt-4">You don't only need a teacher, but also great guide in order to ease the process . And this is exactly what we offer you.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card shadow border-0 mb-4">
                                    <div class="card-body py-5">
                                        <div class="d-flex align-items-start">
                                            <div class="icon icon-shape icon-teal rounded-circle">
                                                <i class="far fa-thumbs-up"></i>
                                            </div>
                                            <div class="icon-text pl-4">
                                                <h5 class="font-weight-bold">Treetor Saves a Great deal of Time.</h5>
                                            </div>
                                        </div>
                                        <p class="mt-4">You stick to learning and let us worry about the rest ! </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="slice slice-xl bg-gradient-primary has-floating-items" id="sct_call_to_action">
                    <a href="#sct_call_to_action" class="tongue tongue-up tongue-secondary scroll-me"><i class="fas fa-chevron-up"></i></a>
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-12">
                                <h1 class="text-white strong-600">Complete features at your finger tips.</h1>
                                <div class="row justify-content-center mt-4">
                                    <div class="col-lg-8">
                                        <p class="lead text-white">
                                            Treetor is also available in the form of a mobile app with countless features like in-app Attendance and Monitoring, Daily Reviews, Global Tests and Peformance analysis etc
                                        </p>
                                        <div class="btn-container mt-5">
                                            <a href="" target="_blank" class="btn btn-white btn-circle btn-translate--hover px-4 mr-lg-4" style="margin-top:2%">Download now</a>
                                            <a href="index.html" class="btn btn-warning btn-circle btn-translate--hover px-4" style="margin-top:2%">Search for Tutors</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container floating-items">
                        <div class="floating-icon"><span></span>
                            <img alt="" src="../static/images/book.png" class="img-saturate" style="width: 50px;">
                        </div>
                        <div class="floating-icon"><span></span>
                            <img alt="" src="../static/images/classroom.png" class="img-saturate" style="width: 76px;">
                        </div>
                        <div class="floating-icon"><span></span>
                            <img alt="" src="../static/images/collaboration.png" class="img-saturate" style="width: 36px;">
                        </div>
                        <div class="floating-icon"><span></span>
                            <img alt="" src="../static/images/learning.png" class="img-saturate" style="width: 50px;">
                        </div>
                        <div class="floating-icon"><span></span>
                            <img alt="" src="../static/images/reading.png" class="img-saturate" style="width: 46px;">
                        </div>
                        <div class="floating-icon"><span></span>
                            <img alt="" src="../static/images/reunion.png" class="img-saturate" style="width: 36px;">
                        </div>
                    </div>
                </section>

                <section class="slice slice-lg" id="sct_features">
                    <a href="#sct_features" class="tongue tongue-up tongue-secondary scroll-me"><i class="fas fa-angle-up"></i></a>
                    <div class="container">
                        <div class="mb-md text-center">
                            <h3 class="h3">Really useful features</h3>
                            <div class="fluid-paragraph text-center mt-4">
                                <p class="lead lh-180">Easy and flaw-less service for you to explore the ocean of the education.</p>
                            </div>
                        </div>
<!--
                        <div class="row">
                            <div class="col-lg-4 mb-5">
                                <div class="d-flex align-items-start">
                                    <div class="icon icon-lg icon-shape icon-teal rounded-circle">
                                        <i class="fab fa-twitter"></i>
                                    </div>
                                    <div class="icon-text pl-4">
                                        <h5></h5>
                                        <p class="mb-0">We build responsive, mobile-first themes with the world's most popular front-end component library</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-5">
                                <div class="d-flex align-items-start">
                                    <div class="icon icon-lg icon-shape icon-teal rounded-circle">
                                        <i class="fab fa-sass"></i>
                                    </div>
                                    <div class="icon-text pl-4">
                                        <h5>Built with Sass <small>(included)</small></h5>
                                        <p class="mb-0">Change one variable and the theme adapts. Colors, fonts, sizes ... you name it.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-5">
                                <div class="d-flex align-items-start">
                                    <div class="icon icon-lg icon-shape icon-teal rounded-circle">
                                        <i class="fab fa-sass"></i>
                                    </div>
                                    <div class="icon-text pl-4">
                                        <h5>700+ Components</h5>
                                        <p class="mb-0">Nicely customized components that can be reused anytime and anywhere in your project.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 mb-5">
                                <div class="d-flex align-items-start">
                                    <div class="icon icon-lg icon-shape icon-teal rounded-circle">
                                        <i class="far fa-tint"></i>
                                    </div>
                                    <div class="icon-text pl-4">
                                        <h5 class="font-weight-bold">Extended color palette</h5>
                                        <p class="mb-0">A beautiful color palette that can be easily modified with our nicely coded Sass files.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-5">
                                <div class="d-flex align-items-start">
                                    <div class="icon icon-lg icon-shape icon-teal rounded-circle">
                                        <i class="far fa-code"></i>
                                    </div>
                                    <div class="icon-text pl-4">
                                        <h5 class="font-weight-bold">15+ Integrated Plugins</h5>
                                        <p class="mb-0">Get even more functionality with the ready to use plugins we have integrated in this theme for you.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-5">
                                <div class="d-flex align-items-start">
                                    <div class="icon icon-lg icon-shape icon-teal rounded-circle">
                                        <i class="far fa-font"></i>
                                    </div>
                                    <div class="icon-text pl-4">
                                        <h5 class="font-weight-bold">Font and SVG icons</h5>
                                        <p class="mb-0">One nice collection of icons so you can add a more intuitive and playful touch to your website.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
-->
                    </div>
                </section>

                <section id="sct_page_examples" class="slice">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 mb-5 mb-lg-0">
                                <div data-animate-hover="1" data-toggle="hidden">
                                    <div class="card  shadow  animate-this">
                                        <div class="py-5 text-center">
                                            <img alt="Image placeholder" src="../static/images/collaboration.png" class="img-saturate" style="width: 100px;">
                                        </div>
                                        <div class="px-4 pb-5 text-center">
                                            <p class="mt-4">A quality network of <strong>184</strong> subject mentors.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 mb-5 mb-lg-0">
                                <div data-animate-hover="1" data-toggle="hidden">
                                    <div class="card shadow animate-this">
                                        <div class="py-5 text-center">
                                            <img alt="" src="../static/images/reunion.png" class="img-saturate" style="width: 100px;">
                                        </div>
                                        <div class="px-4 pb-5 text-center">
                                            <p class="mt-4">More than <strong>3000</strong> students growing on our platform.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 mb-5 mb-lg-0">
                                <div data-animate-hover="1" data-toggle="hidden">
                                    <div class="card shadow animate-this">
                                        <div class="py-5 text-center">
                                            <img alt="" src="../static/images/enterprise.png" class="img-saturate" style="width: 100px;">
                                        </div>
                                        <div class="px-4 pb-5 text-center">
                                            <p class="mt-4">Associated with <strong>45</strong> independent institutions across Bhubaneswar.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 mb-5 mb-lg-0">
                                <div data-animate-hover="1" data-toggle="hidden">
                                    <div class="card shadow animate-this">
                                        <div class="py-5 text-center">
                                            <img alt="" src="../static/images/books.png" class="img-saturate" style="width: 100px;">
                                        </div>
                                        <div class="px-4 pb-5 text-center">
                                            <p class="mt-4">Teaching and Mentoring in <strong>35+</strong> different fields.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="fluid-paragraph text-center mt-5">
                            <p><strong class="text-primary"><br/><br/>*Good to know!</strong> You have offers to unlock.Be the part of <b>TREETOR</b> and unlock them.<br/><br/><br/></p>
                        </div>
                    </div>
                </section>

                <section class="slice slice-lg">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 mb-5 mb-md-0">
                                <div class="card bg-gradient-dark shadow shadow-lg--hover border-0 position-relative zindex-100">
                                    <div class="card-body py-5">
                                        <div class="d-flex align-items-start">
                                            <div class="icon">
                                                <i class="fas fa-file-alt text-white"></i>
                                            </div>
                                            <div class="icon-text">
                                                <h3 class="text-white h4">3000+ users</h3>
                                                <p class="text-white mb-0">More than 3000 students are joing us.<br/>You have a large scale option.<br/>Be the part <b>of TREETOR</b></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-5 mb-md-0">
                                <div class="card bg-gradient-secondary shadow shadow-lg--hover border-0 position-relative zindex-100">
                                    <div class="card-body py-5">
                                        <div class="d-flex align-items-start">
                                            <div class="icon text-primary">
                                                <i class="fas fa-question-circle"></i>
                                            </div>
                                            <div class="icon-text">
                                                <h3 class="h4">free support</h3>
                                                <p class="mb-0">Use our dedicated support email to send your issues or suggestions. We are here to help anytime: <strong class="text-dark">care.treetor@gmail.com</strong>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </main>
        
        <footer class="footer footer-dark bg-gradient-primary footer-rotate">
        <div class="container">
            <div class="row pt-md">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <a href="./index.html">
                        <img src="../static/images/treetor.png" alt="Footer logo" style="height:70px;">
                    </a>
                    <p class="text-sm"><br>Quality Teaching, Global Assesment, Guaranteed Success.</p>
                </div>
                <div class="col-lg-2 col-6 col-sm-4 ml-lg-auto mb-5 mb-lg-0">
                    <h6 class="heading mb-3">Account</h6>
                    <ul class="list-unstyled">
                        <li><a href="">Profile</a>
                        </li>
                        <li><a href="">Settings</a>
                        </li>
                        <li><a href="">Billing</a>
                        </li>
                        <li><a href="">Notifications</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0">
                    <h6 class="heading mb-3">About</h6>
                    <ul class="list-unstyled text-small">
                        <li><a href="#">Services</a>
                        </li>
                        <li><a href="#">Contact</a>
                        </li>
                        <li><a href="#">Careers</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-sm-4 mb-5 mb-lg-0">
                    <h6 class="heading mb-3">Company</h6>
                    <ul class="list-unstyled">
                        <li><a href="#">Terms</a>
                        </li>
                        <li><a href="#">Privacy</a>
                        </li>
                        <li><a href="#">Support</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row align-items-center justify-content-md-between py-4 mt-4 delimiter-top">
                <div class="col-md-6">
                    <div class="copyright text-sm font-weight-bold text-center text-md-left">
                        © 2018 <a href="https://www.cavemendev.com" class="font-weight-bold" target="_blank">CAVMENDEV PVT Ltd.</a>. All rights reserved.
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
                        <li class="nav-item">
                            <a class="nav-link" href="https://dribbble.com/treetor" target="_blank">
                                <i class="fab fa-dribbble"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="https://instagram.com/treetor" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/treetor" target="_blank">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://facebook.com/treetor" target="_blank">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
        
        <script src="../static/js/bootstrap.bundle.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/ajax.js"></script>
        <script src="../static/js/jQuery.3.3.1.js"></script>
        <script src="../static/js/in-view-min.js"></script>
        <script src="../static/js/higlight.js"></script>
        <script src="../static/js/theme.min.js"></script>
        <script src="../static/js/gtag.js"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-104437451-1');
        </script>
        
    </body>
    
</html>
