<!doctype html>
<html lang="en">
  <head>
    <title>Treetor Learn</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      
    <div class="container">
      <center style="margin-top: 1%;"><h3 style="color: green;"><img src="../static/images/treetor.png" width="auto" height="30" class="d-inline-block align-top" alt=""> Courses</h3></center>
      <div class="row text-center" style="margin-top: 2%;box-shadow: 1px 1px 5px 2px grey;border-radius: 15px;" >
        <div class="col-sm-6 col-lg-4 col-md-4  " style="padding: 3%;">
          <img src="../static/images/python.png" style="width: 30%;">
          <p style="text-align: center;">
            <b>Fundamentals of Python</b>
            <br>Price: &#8377 899/-
              <style>
                a:link {
                text-decoration: inherit;
                color: inherit;
                cursor: auto;
            }

              a:visited {
                text-decoration: inherit;
                color: inherit;
                cursor: auto;
            }
            </style>
            <br><a href="https://www.treetor.in/apply-now"><button type="button" class="btn btn-primary " style="width:100%;margin-top:3%;background-color: green;">Apply</a></button>

          </p>
        </div>
        <div class=" col-lg-4 col-md-4 col-sm-6" style="padding: 3%;">
          <img src="../static/images/ds.png"style="width: 30%;">
          <p style="text-align: center;">
            <b>Fundamentals of Data Science</b>
            <br>Price: &#8377 1499/-
            <br><a href="https://www.treetor.in/apply-now"><button type="button" class="btn btn-primary " style="width:100%;margin-top:3%;background-color: green;">Apply</a></button>

          </p>
        </div>
        <div class=" col-lg-4 col-md-4 col-sm-6" style="padding: 3%;">
          <img src="../static/images/iot.png"style="width: 60%;">
          <p style="text-align: center;">
            <b>Fundamentals of IOT</b>
            <br>Price: &#8377 2499/-
            <br><a href="https://www.treetor.in/apply-now"><button type="button" class="btn btn-primary " style="width:100%;margin-top:3%;background-color: green;">Apply</a></button>
          </p>
        </div>
          
        
      </div>
      <div class="row text-center" style="margin-top: 1%;box-shadow: 1px 1px 10px 2px grey;border-radius: 15px;" >
        <div class=" col-lg-4 col-md-4 col-sm-6 " style="padding: 3%;">
          <img src="../static/images/web.png" style="width: 30%;">
          <p style="text-align: center;">
            <b>Fundamentals of Web Designing</b>
            <br>Price: &#8377 1199/-
            <br><a href="https://www.treetor.in/apply-now"><button type="button" class="btn btn-primary " style="width:100%;margin-top:3%;background-color: green;">Apply</a></button>

          </p>
        </div>
        <div class=" col-lg-4 col-md-4 col-sm-6" style="padding: 3%;">
          <img src="../static/images/django.jpg"style="width: 45%;">
          <p style="text-align: center;">
            <b>Web Development with Django</b>
            <br>Price: &#8377 1699/-
            <br><a href="https://www.treetor.in/apply-now"><button type="button" class="btn btn-primary " style="width:100%;margin-top:3%;background-color: green;">Apply</a></button>

          </p>
        </div>
        <div class=" col-lg-4 col-md-4 col-sm-6" style="padding: 3%;">
          
           
            <button type="button" class="btn btn-primary " style="width:100%;height:100%;margin-top:3%;background-color: green;"><b>More Courses <br>Coming Soon<br>STAY TUNED!!!</b></button>
          
        </div>
          
        
      </div>
      
    </div>
    <footer>
      <div class="container-fluid">
        <div class="row">
          <div class="col"></div>
        </div>
      </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>